.testComponent {
  background: lightgreen;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 40px;
}